type: S3
config:
  bucket: {{ minio_bucket_name }}
  endpoint: {{ minio_endpoint }}
  insecure: {{ minio_endpoint_insecure }}
  signature_version2: {{ minio_signature_version2 }}
  access_key: {{ storage_access_key }}
  secret_key: {{ storage_secret_key }}